.list__task {
    display: flex;
    width: 300px;
    border-bottom: 1px dotted green;
    justify-content: space-between;
    padding-bottom: 5px;
}

.list__check {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.list__check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

.list__check+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #2d8a16;
    border-radius: 5px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.list__check:checked+label::before {
    border-color: #065806;
    background-image: url(../images/icons8-спа-цветок-48.png);
    background-size: contain;
}

.list__items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 15px;
    padding: 0;
}

.list__delete {
    border: 1px solid #2d8a16;
    background-color: transparent;
    border-radius: 5px;
}